<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<header>
  <div class="navigation">
    <div class="app-title">
      <div class="main-logo">
          <img class="logo" src="../../favicon.ico" alt="">
      </div>
      <p routerLink="" for="" class="title">Some Shop</p>
    </div>
    <!-- <input type="checkbox" id="switch" (click)="onDarkTheme()"/> -->
    <!-- <label for="switch">Toggle</label> -->
    <div class="group">
      <input type="search" class="" class="searchbar" placeholder="Search">
    </div>
  </div>
</header>
