.col {
    width: 400px;
    height: 440px;
    padding: 25px;
  }
  
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
  }
  
.card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
.overlay{
    height: 45%;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
.image{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    filter: contrast(70%);
    transition: .5s;
  } 
  
.card:hover .image{
    filter: contrast(100%);
    transform: scale(1.1);
  }
  
  
.title{
    color: #383838;
    text-transform: capitalize;
    margin-bottom: 10px; 
  }
  
.data{
    position: relative;
    padding: 15px;
    height: 55%;
    transition: .5s;
  }
  
.data article{
    font-size: 14px;
  }
  
.bottom{
    position: absolute;
    bottom: 0;
    padding: 0 15px;
    display: flex;
    height: 40px;
    width: 100% ;
    background-color: #efefef;
    border-top: #e0e0e0 1px solid;
    justify-content: space-around;
    align-items: center;
  }
  
.bottom p{
    
    text-align: center;
    font-size: 14px;
    flex-grow: 1;
    color: #888888;
    text-transform: uppercase; 
  }
  
.bottom p:not(:last-child){
    border-right: 1px solid #e0e0e0;
  }
  /* CONTENT END*/
  
  /* CARD */
.genre{
    display: flex;
    font-size: 12px;
    color: #888888;
  }
  
.genre ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-top: 15px;   
    width: 100%;    
  }
  
.genre ul li a{
    color: #888888;
    margin: 0 3px;
  }
  
.blur{
    position: absolute;
    bottom: 40px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #f8f8f8);
    width: 100%;
    height: 50px;
  }