<div class="container">
    <div class="wrapper">
      <div class="image-container">
          <div class="border" *ngFor="let imgUrl of items[id].imgUrl">
            <div class="image" [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}"></div>
            <div class="image-large" [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}"></div>
          </div>
      </div>
      <div class="desc-container">
          <div class="close" routerLink="/" (click)="close()">
            <span class="close__button">✖</span>
          </div>
          <div class="data">
            <h1>{{items[id].title}}</h1>
            <hr>
            <p class="separator">About product:</p>
            <p class="desc">{{items[id].description}}</p>
          </div> 
          <div class="order">
            <p class="price">Price: {{items[id].price}}</p>
            <div class="button">
              <p>Order Now!</p>
            </div>
          </div>     
        </div>
    </div>
</div>